@charset "utf-8";

/*-----------------------------------------------
@General
------------------------------------------------*/

/*Display*/
.wrapperMd { max-width: 1200px; margin: 0 auto;}
.wrapperSm { max-width: 992px; margin: 0 auto;}
.wrapperXs { max-width: 640px; margin: 0 auto;}

.mg-top-10 { margin-top: 10px;}
.mg-top-20 { margin-top: 20px;}
.mg-top-30 { margin-top: 30px;}
.mg-top-40 { margin-top: 40px;}
.mg-top-50 { margin-top: 50px;}
.mg-top-60 { margin-top: 60px;}
.mg-top-70 { margin-top: 70px;}
.mg-top-80 { margin-top: 80px;}
.mg-top-100 { margin-top: 100px;}



/*thumbnails*/
.thumb-wrap a { display: block;}
.thumb-wrap .img-wrap { position: relative; padding-top: 130%; overflow: hidden; background:#eee }
.thumb-wrap .img-wrap img { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: auto;}


/*-----------------------------------------------
@form
------------------------------------------------*/

/*input[type="text"]*/
.input { border: 1px solid #ccc; padding: 10px; width: 100%;}


/*input[type="text"] 서치박스*/
.serach-box::after { content: ''; display: block; clear: both;}
.serach-box .input-wrap { float: left; }
.serach-box .search-wrap { float: right; }

.width-10 { width: calc(100% - 90%)}
.width-20 { width: calc(100% - 80%)}
.width-30 { width: calc(100% - 70%)}
.width-40 { width: calc(100% - 60%)}
.width-50 { width: calc(100% - 50%)}
.width-60 { width: calc(100% - 40%)}
.width-70 { width: calc(100% - 30%)}
.width-80 { width: calc(100% - 20%)}
.width-90 { width: calc(100% - 10%)}


/*input[type="checkbox"]*/
.input_box .check_box { display: none; }
.input_box label.label { display: inline-block; color: #999; font-size: 16px; padding-left: 30px; position: relative; cursor: pointer; }
.input_box label.label:before { content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; transform: translateY(-50%); border: 1px solid #ccc; border-radius: 3px;}
.input_box .check_box:checked ~ .label:after { content: ''; display: inline-block; width: 8px; height: 8px; position: absolute; top: 50%; left: 4px; transform: translateY(-50%); border-radius: 3px; background: #ff0000;}

.input_box label.label02 { display: inline-block; color: #999; font-size: 16px; padding-left: 30px; position: relative; cursor: pointer; }
.input_box label.label02:before { content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; transform: translateY(-50%); border: 1px solid #ccc; border-radius: 3px;}
.input_box .check_box:checked ~ .label02:after { content: ''; display: inline-block; width: 13px; height: 13px; position: absolute; top: 50%; left: 2px; transform: translateY(-50%); background: url('../../images/common/ico_check_in.png')no-repeat center / contain;}

.input_box label.label03 { display: inline-block; color: #999; font-size: 16px; padding-left: 30px; position: relative; cursor: pointer; }
.input_box label.label03:before { content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; transform: translateY(-50%); background: url('../../images/common/ico_checkbox.png')no-repeat center / contain; }
.input_box .check_box:checked ~ .label03:after { content: ''; display: inline-block; width: 16px; height: 16px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: url('../../images/common/ico_check_in02.png')no-repeat center / contain;}

.input_box label.label04 { display: inline-block; color: #999; font-size: 16px; padding-left: 30px; position: relative; cursor: pointer; }
.input_box label.label04:before { content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; transform: translateY(-50%); background: url('../../images/common/ico_checkbox_gray.png')no-repeat center / contain; }
.input_box .check_box:checked ~ .label04:after { content: ''; display: inline-block; width: 16px; height: 16px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: url('../../images/common/ico_checkbox_orange.png')no-repeat center / contain;}

/*input[type="radio"]*/
.radio { display: none; }
.radio ~ label { display: inline-block; color: #999; font-size: 16px; padding-left: 30px; position: relative; cursor: pointer; }
.radio ~ label:before { content:''; display: inline-block; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; transform: translateY(-50%); border: 1px solid #ccc; border-radius: 50px;}
.radio ~ label:after { content:''; display: inline-block; position: absolute; top: 50%; left: 4px; width: 8px; height: 8px; transform: translateY(-50%); border-radius: 50px; background: #ccc; }
.radio:checked ~ label:after { background: #ee7500;}


/*textarea*/
.textarea { width: 100%; resize: none; border: 1px solid #ccc; height: 200px; padding: 10px;}


/*select*/
select::-ms-expand { display: none; }/*익스에서는 커스텀한 화살표와 기본화살표가 겹쳐보여 기본 화살표를 none함*/
.select { -webkit-appearance: none; appearance: none; background: url('../../images/common/ico_arrow_down.png')no-repeat center right 10px; background-size: 6%; width: 100%; height: 40px; padding: 5px; border: 1px solid #ccc;}
.select-type-02 { background: url('../../images/common/ico_arrow_down02.png')no-repeat center right 10px; background-size: 6%; width: 100%; height: 40px; padding: 5px; border: 1px solid #ccc;}


/*input[type="range"] 막대기바 */
.ranege-box { position: relative; }
.ranege-box::before { content: ''; display: block; width: 100%; height: 5px; border-radius: 10px; background: #ccc; position: absolute; top: 50%; left: 0; transform: translateY(-50%); z-index: 1;}
.range { background: transparent; border-radius: 10px; color: #999; font-size: 12px; width: 100%; position: relative; z-index: 2;}
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; background: #ee7500; width: 20px; height: 20px; border-radius: 50px;}
output { display: none; }


/*상태바*/
meter { width: 100%; height: 30px;}
progress { width: 100%; height: 30px;}


/*스위치*/
.switchbox .switch { position: relative; display: inline-block; width: 46px; height: 23px; vertical-align:middle }
.switchbox .switch_input { display: none;}
.switchbox .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.switchbox .slider:before { position: absolute; content: ""; height: 15px; width: 15px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
.switchbox input:checked + .slider { background-color: #ee7500;}
.switchbox input:checked + .slider:before { -webkit-transform: translateX(24px); -ms-transform: translateX(24px); transform: translateX(24px);}
.switchbox .slider.round { border-radius: 34px;}
.switchbox .slider.round:before { border-radius: 50%;}


/*버튼 스타일 */
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
.btn:hover,
.btn:focus,
.btn.focus {color: #333;text-decoration: none;}
.btn:active,
.btn.active {background-image: none;outline: 0;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {pointer-events: none;cursor: not-allowed;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;opacity: .65;}
.btn-default {color: #333;background-color: #fff;border-color: #ccc;}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {background-image: none;}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {background-color: #fff;border-color: #ccc;}
.btn-default .badge {color: #fff;background-color: #333;}
.btn-primary {color: #fff;background-color: #337ab7;border-color: #2e6da4;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {color: #fff;background-color: #286090;border-color: #204d74;}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {background-image: none;}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {background-color: #337ab7;border-color: #2e6da4;}
.btn-primary .badge {color: #337ab7;background-color: #fff;}
.btn-success {color: #fff;background-color: #5cb85c;border-color: #4cae4c;}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {color: #fff;background-color: #449d44;border-color: #398439;}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {background-image: none;}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {background-color: #5cb85c;border-color: #4cae4c;}
.btn-success .badge {color: #5cb85c;background-color: #fff;}
.btn-info {color: #fff;background-color: #5bc0de;border-color: #46b8da;}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {color: #fff;background-color: #31b0d5;border-color: #269abc;}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {background-image: none;}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {background-color: #5bc0de;border-color: #46b8da;}
.btn-info .badge {color: #5bc0de;background-color: #fff;}
.btn-warning {color: #fff;background-color: #f0ad4e;border-color: #eea236;}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {color: #fff;background-color: #ec971f;border-color: #d58512;}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {background-image: none;}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {background-color: #f0ad4e;border-color: #eea236;}
.btn-warning .badge {color: #f0ad4e;background-color: #fff;}
.btn-danger {color: #fff;background-color: #d9534f;border-color: #d43f3a;}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {color: #fff;background-color: #c9302c;border-color: #ac2925;}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {background-image: none;}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {background-color: #d9534f;border-color: #d43f3a;}
.btn-danger .badge {color: #d9534f;background-color: #fff;}
.btn-link {font-weight: normal;color: #337ab7;border-radius: 0;}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {background-color: transparent;-webkit-box-shadow: none;box-shadow: none;}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {border-color: transparent;}
.btn-link:hover,
.btn-link:focus {color: #23527c;text-decoration: underline;background-color: transparent;}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {color: #777;text-decoration: none;}
.btn-lg,
.btn-group-lg > .btn {padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;}
.btn-sm,
.btn-group-sm > .btn {padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.btn-xs,
.btn-group-xs > .btn {padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.btn-block {display: block;width: 100%;}
.btn-block + .btn-block {margin-top: 5px;}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {width: 100%;}


/*-----------------------------------------------
@Grid
------------------------------------------------*/

/* Grid */
.wall { background:#eee; padding:10px }
.row { margin-right: -10px; margin-left: -10px;}
.row:after { content:""; display:block; clear:both }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative;min-height: 1px; padding:10px }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {float: left;}
.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.66666667%;}
.col-lg-7 {width: 58.33333333%;}
.col-lg-6 {width: 50%;}
.col-lg-5 {width: 41.66666667%;}
.col-lg-4 {width: 33.33333333%;}
.col-lg-3 {width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;}


@media (max-width: 1200px) {    
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left;}
    .col-md-12 {width: 100%;}
    .col-md-11 {width: 91.66666667%;}
    .col-md-10 {width: 83.33333333%;}
    .col-md-9 {width: 75%;}
    .col-md-8 {width: 66.66666667%;}
    .col-md-7 {width: 58.33333333%;}
    .col-md-6 {width: 50%;}
    .col-md-5 {width: 41.66666667%;}
    .col-md-4 {width: 33.33333333%;}
    .col-md-3 {width: 25%;}
    .col-md-2 {width: 16.66666667%;}
    .col-md-1 {width: 8.33333333%;}    
}
@media (max-width: 992px) {    
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: left;}
    .col-sm-12 {width: 100%;}
    .col-sm-11 {width: 91.66666667%;}
    .col-sm-10 {width: 83.33333333%;}
    .col-sm-9 {width: 75%;}
    .col-sm-8 {width: 66.66666667%;}
    .col-sm-7 {width: 58.33333333%;}
    .col-sm-6 {width: 50%;}
    .col-sm-5 {width: 41.66666667%;}
    .col-sm-4 {width: 33.33333333%;}
    .col-sm-3 {width: 25%;}
    .col-sm-2 {width: 16.66666667%;}
    .col-sm-1 {width: 8.33333333%;}
}
@media (max-width: 768px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left; }
    .col-xs-12 {width: 100%;}
    .col-xs-11 {width: 91.66666667%;}
    .col-xs-10 {width: 83.33333333%;}
    .col-xs-9 {width: 75%;}
    .col-xs-8 {width: 66.66666667%;}
    .col-xs-7 {width: 58.33333333%;}
    .col-xs-6 {width: 50%;}
    .col-xs-5 {width: 41.66666667%;}
    .col-xs-4 {width: 33.33333333%;}
    .col-xs-3 {width: 25%;}
    .col-xs-2 {width: 16.66666667%;}
    .col-xs-1 {width: 8.33333333%;}
}


/*------------------------------------------------
@table
-------------------------------------------------*/
/* table default */
th { text-align:left }
.table {width: 100%;max-width: 100%;margin-bottom: 20px;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;}
.table > thead > tr > th {vertical-align: bottom;border-bottom: 2px solid #ddd; font-weight:400 }
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top: 0;}
.table > tbody + tbody {border-top: 2px solid #ddd;}
.table .table {background-color: #fff;}
/* table striped  */
.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f9f9f9; }
/* table bordered  */
.table-bordered {border: 1px solid #ddd;}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {border: 1px solid #ddd;}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {border-bottom-width: 2px;}
/* table condensed */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td { padding: 5px; }

/*-----------------------------------------------
@Popup
------------------------------------------------*/
.popup-wrap .popup { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;width: 30%; background: #fff; border-radius: 20px; padding: 20px; visibility: hidden; opacity: 0; transition:all .3s ease; }
.popup-wrap .popup-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(27,23,20,0.65); z-index: 9998; transition: all .3s ease; visibility: hidden; opacity: 0;}
.popup-wrap .popup .popup-inner .title-wrap { position: relative; padding-bottom: 17px; border-bottom: 1px solid #cbcbcb; font-size: 16px; font-weight: 700; }
.popup-wrap .popup .popup-inner .title-wrap .close-popup { position: absolute; top: -7px; right: -9px; display: block; width: 40px; height: 40px; background: url('../../images/common/close_btn.png') no-repeat center / 20px 20px; text-indent: -9999px; font-size: 0; }
.popup-wrap .popup .popup-inner .contents { padding: 20px 0;}

.popup-wrap .popup.show { visibility: visible; opacity: 1; }
.active-popup { overflow: hidden;  }
.active-popup .popup-overlay { visibility: visible; opacity: 1; }
.active-popup .popup-wrap { display: block; }

/* @jumbotron */
.jumbotron { padding: 30px; color: inherit; background-color: #eee; border-radius:10px }
.jumbotron h1 { font-weight: 600 }

.page-header { padding-bottom: 9px;margin: 40px 0 20px;border-bottom: 1px solid #eee; }







​





